{% extends "layout/base.twig" %}

{% block body %}
	<a class="sr-only" href="#content">{{ _e( 'Skip to content') }}</a>
	<div class="flex flex-col justify-between min-h-screen">
		<div>
			<header class="m-4">
				<div class="max-w-screen-2xl mx-auto">
					<div class="flex justify-between">
						<h1 role="banner">
							<a href="{{site.url}}" rel="home">{{site.name}}</a>
						</h1>
						<nav class="" role="navigation">
							{% if menu %}
								<ul class="flex gap-2">
									{% for item in menu.get_items %}
										<li class="{{ item.classes | join(' ') }}">
											<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
											<div class="hidden">
												{% include "menu.twig" with {'items': item.children} %}
											</div>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</nav>
					</div>
				</div>
			</header>

			<section id="content" role="main">
				{% if title %}
					<div class="max-w-screen-md mx-auto">
						<h1 class="text-5xl mb-6">{{title}}</h1>
					</div>
				{% endif %}
				<div class="wrapper {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>
		</div>

		<footer class="m-4" id="footer">
			<div class="max-w-screen-2xl mx-auto">
				Copyright
				{{"now"|date('Y')}}
			</div>
		</footer>
	</div>
	{{ function('wp_footer') }}
{% endblock %}
